.playground {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.historyLink {
  margin: 20px;
  font-size: 24px;
}

.historyLink a {
  margin: 20px;
}

@media screen and (max-width: 425px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    flex-direction: column;
  }
}
